/* custome css */
.navfont{
      font-family:sans-serif;
      font-style: italic;
      font-weight: 600;
      font-size: large;
}
.navbar{
      background: rgb(60, 136, 134);
}
.custom-container{
      /* border: 2px solid black; */
      padding: 0px 15px;
}
.custom-container-2{
      padding: 15px 5px;
}
.carousel-image{
      width: 100%;
      height: 500px;
}
